/* companys */
.companys {
    margin-top: -10rem;
}
/* companys main  */
.companys__main {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* company */
.company {
}

/* company logo */
.company__logo{
    width: 20rem;
}