/* header menu */
.header__menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

/* header menu link*/
.header__menu_link {
    color: var(--third-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.header__menu_link:hover {color: var(--second-color);}

/* header menu link activo*/
.header__menu_link--activo {color: var(--white);}
.header__menu_link--activo:hover {color: var(--white);}